*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
#name {
    display: flex;
    height: 10vh;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to left top, #1e2b75, #6cdbeb);
    text-align: left;
    font-size: 22px;
    font-weight: 15;
    color: white; 
    line-height: 50px;
    display: grid;
    grid-template-columns: 400px 1fr;
}

.Greetings{
    position: relative;
    animation: Greetings;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes Greetings{
    0% {opacity: 0}
    100% {opacity: 1}
}

.contacts{
    display: flex;
    justify-content: space-evenly;
}
ul{
    list-style: none;
}
header{
    background: black;
    min-height: 100vh;
    z-index: 2;
    text-align: center;
    color: cornflowerblue;
}
main{
    margin-left: 10px;
    z-index: 100;
}
h2{
    color: rgb(56, 73, 151);
}
